body, header, h1, h2, div, main, sectino, ul, li, label, input, button, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    padding: 8px 16px;
    text-transform: uppercase;
    width: 100%;
}

.cabecalho {
    background-color: #AABEE3;
    border-radius: 8px;
    margin: 16px;
    padding: 16px 0;
    text-align: center;
}

.logo {
    color: #5156ac;
    font-size: 32px;
}

.container {
    display: flex;
    gap: 16px;
    margin: 16px;
    margin-bottom: 0;
}

.criar-tarefa {
    min-width: 273px;
    height: calc(100vh - (69px + 32px));
    position: relative;
}

.criador {
    background-color: #5156ac;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - (69px + 32px));
    max-width: 273px;
    padding: 24px 16px;
    padding-bottom: 0;
    position: fixed;
    z-index: 1;
}

.criador .title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.criador .input-tarefa {
    border: none;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 8px;
    max-width: calc(273px - 32px);
    min-width: calc(273px - 32px);
}

.btn.criando-tarefa {
    background-color: #AABEE3;
    color: #5156ac;
    max-width: calc(273px - 32px);
    min-width: calc(273px - 32px);
    transition: all 200ms linear;
}

.btn.criando-tarefa:hover {
    background-color: #fff;
}

.lista-tarefas {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tarefa {
    background-color: #eeeeee;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 264px;
    min-width: 264px;
    position: relative;
    transition: all 300ms ease;
    top: 0;
}

.tarefa:hover {
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .1);
    top: -4px;
}

.btns {
    background-color: #AABEE3;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    padding: 16px;
}

.tarefa .btn.concluir {
    background-color: #5156ac;
    color: #fff;
    transition: all 200ms linear;
}

.tarefa .btn.excluir {
    background: none;
    border: 1px solid #5156ac;
    color: #5156ac;
    transition: all 200ms linear;
}

.tarefa .btn.concluir:hover {
    background-color: #fff;
    color: #5156ac;
}

.tarefa .btn.excluir:hover {
    border: 1px solid rgb(231, 71, 71);
    color: rgb(231, 71, 71);
}

.title-tarefa {
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 16px;
}

.sem-tarefa {
    color: #bbb;
    font-size: 32px;
    font-weight: 100;
    max-width: 500px;
    animation: sem-tarefa 200ms;
}

.concluida {
    background-color: #efefef;
    box-shadow: none;
    transition: none;
}

.concluida .title-tarefa {
    text-decoration: line-through;
}

.concluida .btns {
    background-color: #ddd;
}

.concluida .btn.concluir {
    background-color: #bbb;
    color: #ccc;
}

.concluida .btn.concluir:hover {
    background-color: #bbb;
    color: #ddd;
}

.concluida .btn.excluir {
    border: 1px solid rgba(231, 71, 71, .5);
    color: rgba(231, 71, 71, .5);
}

.concluida:hover {
    box-shadow: none;
    top: 0;
}

@keyframes sem-tarefa {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 640px) {

    .cabecalho {
        padding: 8px;
        margin: 8px;
        margin-bottom: 16px;
    }

    .container {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 8px;
    }

    .criador {
        min-width: calc(100% - 16px);
        padding: 8px;
        height: auto;
        bottom: 0;
        position: fixed;
    }

    .criador .input-tarefa {
        max-width: 100%;
    }

    .criador .title {
        font-size: 18px;
        margin: 8px 16px 16px 16px;
    }

    .btn.criando-tarefa {
        max-width: 100%;
        height: 48px;
    }

    .tarefa {
        max-width: 100%;
        min-width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .title-tarefa {
        align-content: center;
        margin: 0;
        height: 100%;
    }

    .btns {
        padding: 8px;
    }

    .tarefa .btn.concluir {
        background-color: #5156ac;
        background-image: url('./icon/check.png');
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        transition: all 200ms linear;
        width: 48px;
        height: 48px;
    }

    .tarefa .btn.excluir {
        border: 2px solid rgb(231, 71, 71);
        color: rgb(231, 71, 71);
        background-image: url('./icon/delete.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 48px;
        height: 48px;
    }

    .sem-tarefa {
        font-size: 24px;
    }
}